<div class="text-center">
    <div>
        <img src="https://rickandmortyapi.com/api/character/avatar/19.jpeg" class="card-img-top" alt="imagen character" style="width: 20%; height: auto;">
    </div>
    <ul class="list-group list-group-flush d-inline-block">
        <li class="list-group-item border-0">
            Name: {{ character?.name | json }}
        </li>
        <li class="list-group-item border-0">
            Status: {{ character?.status | json }}
        </li>
        <li class="list-group-item border-0">
            Type: {{ character?.type | json }}
        </li>
        <li class="list-group-item border-0">
            Gender: {{ character?.gender | json }}
        </li>
        <li class="list-group-item border-0">
            Origin: {{ character?.origin | json }}
        </li>
    </ul>
</div>