<div class="container">
  <div class="d-flex flex-column align-items-center">
      <div class="mb-3 fw-bold">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" id="nameInput">
      </div>
      <div class="mb-3 fw-bold">
        <label for="exampleFormControlInput2" class="form-label">Status</label>
        <input type="text" class="form-control" id="statusInput">
      </div>
      <div class="mb-3 fw-bold">
        <label for="exampleFormControlInput3" class="form-label">Species</label>
        <input type="text" class="form-control" id="speciesInput">
      </div>
      <div class="mb-3 fw-bold">
        <label for="exampleFormControlInput4" class="form-label">Gender</label>
        <input type="text" class="form-control" id="genderInput">
      </div>
      <div class="mb-3 fw-bold">
        <label for="exampleFormControlInput5" class="form-label">Origin</label>
        <input type="text" class="form-control " id="originInput">
      </div>
      <button type="button" class="btn btn-lg btn-warning fw-bold" (click)="saveData()">Save</button>
    </div>
  </div>
  
